<!DOCTYPE html>
<html lang="en">
<head>
	<title>Login </title>
	<meta charset="UTF-8">
</head>
<body>
			<div>
				<form>
					<span>
						Login
					</span>

					<div data-validate = "Username is required">
						<input type="text" name="username" placeholder="Username">
						<span></span>
					</div>
					
					<div data-validate = "Password is required">
						<input type="password" name="pass" placeholder="Password">
						<span ></span>
					</div>
					
					<div >
						<div >
							<input  id="ckb1" type="checkbox" name="remember-me">
							<label  for="ckb1">
								Remember me
							</label>
						</div>

						<div>
							<a href="#" class="txt1">
								Forgot?
							</a>
						</div>
					</div>

					<div >
						<button>
							Login
						</button>
					</div>

				</form>
			</div>
		
	

	

</body>
</html>